{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <section class="bg-dark py-5 mt-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div class="card card-style1 border-0">
                            <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 mb-4 mb-lg-0 text-center">
                                        <img src="https://avatars.githubusercontent.com/u/101839770?s=400&u=67b9df767d438c94fd0830440e7be91b672b8535&v=4" alt="Imagem padrão" class="img-fluid" style="max-width: 40%; border-radius: 15px;">
                                    </div>
                                    <div class="col-lg-6 px-xl-10">
                                        <div class="bg-secondary d-lg-inline-block py-3 px-3 px-sm-4 mb-4 rounded">
                                            <h3 class="h2 text-white mb-0">Bem vindo ao meu perfil</h3>
                                        </div>
                                        <ul class="list-unstyled mb-4">
                                            <li class="mb-2">
                                                <span class="text-secondary me-2 font-weight-600">Wilian Araújo Luna Junior</span>
                                                <br>
                                                <span class="text-secondary me-2 font-weight-600">Idade: 23 anos</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="container bg-dark mt-3 text-white rounded">
        <div class="container">
            {% include 'include/paginator.html' %}
        </div>
    </div>
{% endblock content %}

    
